<footer class="footer">
  <div class="footer-social">
    <ul class="social">
      <li *ngIf="socialData?.facebook"><a class="ripple-centered" [href]="socialData?.facebook" target="_blank"><i class="rsicon rsicon-facebook"></i></a></li>
      <li *ngIf="socialData?.twitter"><a class="ripple-centered" [href]="socialData?.twitter" target="_blank"><i class="rsicon rsicon-twitter"></i></a></li>
      <li *ngIf="socialData?.linkedin"><a class="ripple-centered" [href]="socialData?.linkedin" target="_blank"><i class="rsicon rsicon-linkedin"></i></a></li>
      <li *ngIf="socialData?.google_plus"><a class="ripple-centered" [href]="socialData?.google_plus" target="_blank"><i class="rsicon rsicon-google-plus"></i></a></li>
      <li *ngIf="socialData?.dribble"><a class="ripple-centered" [href]="socialData?.dribbble" target="_blank"><i class="rsicon rsicon-dribbble"></i></a></li>
      <li *ngIf="socialData?.instagram"><a class="ripple-centered" [href]="socialData?.instagram" target="_blank"><i class="rsicon rsicon-instagram"></i></a></li>
    </ul>
  </div>
</footer>
<!-- .footer -->
