<section id="prices" class="section section-prices">
  <div class="animate-up">
    <h2 class="section-title">Pricing</h2>

    <div class="row price-list">
      <div class="col-sm-4">
        <div class="price-box">
          <div class="price-box-top">
            <span>$16</span>
            <small>/mo</small>
          </div>
          <div class="price-box-content">
            <h3>Basic</h3>
            <ul>
              <li>Manage tasks</li>
              <li>Discussions in tasks</li>
              <li>File sharing <span class="new">new</span></li>
              <li>
                <del>Real-time Activity Stream</del>
              </li>
              <li>
                <del>Spreadsheet View</del>
              </li>
              <li>
                <del>iPhone and Android apps</del>
              </li>
              <li>
                <del>Advanced email integration</del>
              </li>
              <li>
                <del>Basic Integrations</del>
              </li>
            </ul>
            <div class="btn-wrap">
              <a class="btn btn-lg btn-border" href="#">Buy Now</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="price-box box-primary">
          <div class="price-box-top">
            <span>$50</span>
            <small>/mo</small>
          </div>
          <div class="price-box-content">
            <h3>Professional</h3>
            <ul>
              <li>Manage tasks</li>
              <li>Discussions in tasks</li>
              <li>File sharing <span class="new">new</span></li>
              <li>Real-time Activity Stream</li>
              <li>Spreadsheet View <span class="new">new</span></li>
              <li>
                <del>iPhone and Android apps</del>
              </li>
              <li>
                <del>Advanced email integration</del>
              </li>
              <li>
                <del>Basic Integrations</del>
              </li>
            </ul>
            <div class="btn-wrap">
              <a class="btn btn-lg btn-border" href="#">Buy Now</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="price-box">
          <div class="price-box-top">
            <span>$250</span>
            <small>/mo</small>
          </div>
          <div class="price-box-content">
            <h3>Enterprise</h3>
            <ul>
              <li>Manage tasks</li>
              <li>Discussions in tasks</li>
              <li>File sharing <span class="new">new</span></li>
              <li>Real-time Activity Stream</li>
              <li>Spreadsheet View <span class="new">new</span></li>
              <li>iPhone and Android apps</li>
              <li>Advanced email integration</li>
              <li>Basic Integrations</li>
            </ul>
            <div class="btn-wrap">
              <a class="btn btn-lg btn-border" href="#">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #prices -->