<section id="references" class="section section-references">
  <div class="animate-up">
    <h2 class="section-title">{{ referencesData?.title }}</h2>

    <div class="section-box">
      <ul class="ref-slider">

        <li *ngFor="let reference of referencesData?.references">
          <div class="ref-box">
            <div class="person-speech">
              <p>{{ reference.reference }}
              </p>
            </div>
            <div class="person-info clearfix">
              <img class="person-img" [src]="reference.avatar" alt="Headshot">

              <div class="person-name-title">
                <span class="person-name">{{ reference.name }}</span>
                <span class="person-title">{{ reference.company }}</span>
              </div>
            </div>
          </div>
        </li>

      </ul>
      <div class="ref-slider-nav">
        <span id="ref-slider-prev" class="slider-prev"></span>
        <span id="ref-slider-next" class="slider-next"></span>
      </div>
    </div>
  </div>
</section>
<!-- #references -->
