<section id="clients" class="section section-clients">
  <div class="animate-up">

    <div class="clients-carousel">

      <div class="client-logo" *ngFor="let logo of clientsData">
        <a *ngIf="logo.url; else imgNoLogo" [href]="logo.url" target="_blank">
          <img [src]="logo.imgPath" [title]="logo.description" [alt]="logo.description" />
        </a>
        <ng-template #imgNoLogo>
          <img [src]="logo.imgPath" [title]="logo.description" [alt]="logo.description" />
        </ng-template>
      </div>

    </div>
  </div>
</section>
<!-- #clients -->
