<section id="skills" class="section section-skills">
  <div class="animate-up">
    <h2 class="section-title">{{ skillsData?.title }}</h2>

    <div class="section-box">

      <div class="row">
        <div class="col-sm-6" *ngFor="let skill of skillsData?.skills">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">{{ skill.name }}</span>
              <span class="bar-value">{{ skill.percent }}%</span>
            </div>
            <div class="bar-line">
              <!-- TODO: Fix this! -->
              <span class="bar-fill" [attr.data-width]="skill?.percent + '%'"></span>
            </div>
          </div>
        </div>
      </div>

      <!-- When I remove this, an layout strange thing happen -->
      <div hidden class="row">
      </div>
      
    </div>
  </div>
</section>
<!-- #skills -->
