<section id="experience" class="section section-experience">
  <div class="animate-up">
    <h2 class="section-title">{{ workExpData?.title }}</h2>

    <div class="timeline">
      <div class="timeline-bar"></div>
      <div class="timeline-inner clearfix">

        <div
          class="timeline-box"
          [class.timeline-box-left]="(idx % 2) === 0"
          [class.timeline-box-right]="(idx % 2) !== 0"
          *ngFor="let workExp of workExpData?.experiences; let idx = index">
          <span class="dot"></span>

          <div
            class="timeline-box-inner"
            [class.animate-right]="(idx % 2) === 0"
            [class.animate-left]="(idx % 2) !== 0">
            <span class="arrow"></span>

            <div class="date">{{ workExp.period }}</div>
            <h3>{{ workExp.company }}</h3>
            <h4>{{ workExp.ocupation }}</h4>

            <p *ngIf="workExp.description" [innerHTML]="workExp.description"></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- #experience -->
