<section id="interests" class="section section-interests">
  <div class="animate-up">
    <h2 class="section-title">{{ interestsData?.title }}</h2>

    <div class="section-box">
      <p [innerHTML]="interestsData?.description"></p>

      <ul class="interests-list">

        <li *ngFor="let interest of interestsData?.interests">
          <i class="map-icon map-icon-{{ interest.icon }}"></i>
          <span>{{ interest?.name }}</span>
        </li>

      </ul>
    </div>
  </div>
</section>
<!-- #interests -->
