<!DOCTYPE html>
<html lang="pt-br" class="theme-color-07cb79 theme-skin-light">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Styles REMOVED FROM HERE -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="home header-has-img loading">

  <app-mobile-nav></app-mobile-nav>
  <!-- .mobile-nav -->

  <app-sidebar></app-sidebar>
  <!-- .sidebar -->

  <div class="wrapper">

    <app-menu-header></app-menu-header>
    <!-- .header -->

    <div class="content">
      <div class="container">

        <!-- START: PAGE CONTENT -->

        <app-about-section
          [generalData]="resumeData?.general"
          [aboutData]="resumeData?.about"
          [socialData]="resumeData?.social"
          [freeDescription]="resumeData?.freeDescription"
        ></app-about-section>
        <!-- #about -->

        <app-skills-section
          [skillsData]="resumeData?.skills"
        ></app-skills-section>
        <!-- #skills -->

        <app-portfolio-section
          [portfolioData]="resumeData?.portfolio"
        ></app-portfolio-section>
        <!-- #portfolio -->

        <app-experience-section
          [workExpData]="resumeData?.experience"
        ></app-experience-section>
        <!-- #experience -->

        <app-education-section
          [educationData]="resumeData?.education"
        ></app-education-section>
        <!-- #education -->

        <app-clients-section
          [clientsData]="resumeData?.logos"
        ></app-clients-section>
        <!-- #clients -->

        <app-references-section
          [referencesData]="resumeData?.references"
        ></app-references-section>
        <!-- #references -->

        <!-- <app-prices-section></app-prices-section> -->
        <!-- #prices -->

        <!-- <app-blog-section></app-blog-section> -->
        <!-- #blog -->

        <section id="text-section" class="section section-text">
          <div class="animate-up animated">
            <h2 class="section-title">Text Section</h2>

            <div class="section-box">
              <p>Hello! I’m Robert Smith and this is custom editor section. You can add here any text or "Strikethrough" text
                and even you can add bulleted or numbered text and even you will be able to add blockquot text. You can align
                this text to left/right/center. One of the most interesting options is to divide this section to "One half"
                "One Third" and "One Fourth". You can use this for Honors or Achievments or Awards sections. You can insert
                images and photos right in this editor!</p>
            </div>
          </div>
        </section>
        <!-- #text-section -->

        <app-interests-section></app-interests-section>
        <!-- #interests -->

        <app-calendar-section></app-calendar-section>
        <!-- #calendar -->

        <app-contact-section></app-contact-section>
        <!-- #contact -->

        <!-- END: PAGE CONTENT -->

      </div>
      <!-- .container -->
    </div>
    <!-- .content -->

    <app-footer></app-footer>
    <!-- .footer -->

  </div>
  <!-- .wrapper -->

  <a class="btn-scroll-top" href="#"><i class="rsicon rsicon-arrow-up"></i></a>

  <div id="overlay"></div>
  <div id="preloader">
    <div class="preload-icon"><span></span><span></span></div>
    <div class="preload-text">Loading ...</div>
  </div>

  <!-- Scripts REMOVED FROM HERE -->
</body>

</html>
