<div class="sidebar sidebar-fixed">
  <button class="btn-sidebar btn-sidebar-close"><i class="rsicon rsicon-close"></i></button>

  <div class="widget-area">
    <aside class="widget widget-profile">
      <div class="profile-photo">
        <img [src]="profilePicture?.imgPath" [alt]="generalData?.name" />
      </div>
      <div class="profile-info">
        <h2 class="profile-title">{{ generalData?.name }}</h2>

        <h3 class="profile-position">{{ generalData?.ocupation }}</h3>
      </div>
    </aside>
    <!-- .widget-profile -->

    <aside class="widget widget_contact">
      <h2 class="widget-title">Contato</h2>

      <form class="rsForm" action="php/mailsender.php" method="post">
        <div class="input-field">
          <label>Nome</label>
          <input type="text" name="rsName" value="">
          <span class="line"></span>
        </div>

        <div class="input-field">
          <label>Email</label>
          <input type="email" name="rsEmail" value="">
          <span class="line"></span>
        </div>

        <div class="input-field">
          <label>Assunto</label>
          <input type="text" name="rsSubject" value="">
          <span class="line"></span>
        </div>

        <div class="input-field">
          <label>Mensagem</label>
          <textarea rows="4" name="rsMessage"></textarea>
          <span class="line"></span>
        </div>

        <span class="btn-outer btn-primary-outer ripple">
                        <input class="rsFormSubmit btn btn-lg btn-primary" type="submit" value="Enviar">
                    </span>
      </form>
    </aside>
    <!-- .widget_contact -->
    
  </div>
  <!-- .widget-area -->
</div>
