<section id="about" class="section section-about">
  <div class="animate-up">
    <div class="section-box">
      <div class="profile">
        <div class="row">
          <div class="col-xs-5">
            <div class="profile-photo"><img [src]="profilePicture?.imgPath" [alt]="generalData?.name" /></div>
          </div>
          <div class="col-xs-7">
            <div class="profile-info">
              <div class="profile-preword"><span>Olá</span></div>
              <h1 class="profile-title"><span>Sou</span> {{ generalData?.name }}</h1>

              <h2 class="profile-position">{{ generalData?.ocupation }}</h2>
            </div>
            <ul class="profile-list">
              <li class="clearfix" *ngIf="aboutData?.age">
                <strong class="title">Idade</strong>
                <span class="cont">{{ aboutData?.age }}</span>
              </li>
              <li class="clearfix" *ngIf="aboutData?.address">
                <strong class="title">Endereço</strong>
                <span class="cont">{{ aboutData?.address }}</span>
              </li>
              <li class="clearfix" *ngIf="aboutData?.email">
                <strong class="title">E-mail</strong>
                <span class="cont"><a [href]="'mailto:' + aboutData?.email">{{ aboutData?.email }}</a></span>
              </li>
              <li class="clearfix" *ngIf="aboutData?.phone">
                <strong class="title">Celular</strong>
                <span class="cont"><a [href]="'tel:' + aboutData?.phone">{{ aboutData?.phone }}</a></span>
              </li>
              <li class="clearfix" *ngIf="aboutData?.freelance">
                <strong class="title">Em Freelance</strong>
                <span class="cont">até {{ aboutData?.freelance | date }}</span>
              </li>
              <li class="clearfix" *ngIf="aboutData?.vacation">
                <strong class="title"><span class="button">Férias</span></strong>
                <span class="cont"><i class="rsicon rsicon-calendar"></i>até {{ aboutData?.vacation | date }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="profile-social">
        <ul class="social">
          <li *ngIf="socialData?.facebook"><a class="ripple-centered" [href]="socialData?.facebook" target="_blank"><i
                                  class="rsicon rsicon-facebook"></i></a></li>
          <li *ngIf="socialData?.twitter"><a class="ripple-centered" [href]="socialData?.twitter" target="_blank"><i
                                  class="rsicon rsicon-twitter"></i></a></li>
          <li *ngIf="socialData?.linkedin"><a class="ripple-centered" [href]="socialData?.linkedin" target="_blank"><i
                                  class="rsicon rsicon-linkedin"></i></a></li>
          <li *ngIf="socialData?.google_plus"><a class="ripple-centered" [href]="socialData?.google_plus" target="_blank"><i
                                  class="rsicon rsicon-google-plus"></i></a></li>
          <li *ngIf="socialData?.dribble"><a class="ripple-centered" [href]="socialData?.dribble" target="_blank"><i
                                  class="rsicon rsicon-dribbble"></i></a></li>
          <li *ngIf="socialData?.instagram"><a class="ripple-centered" [href]="socialData?.instagram" target="_blank"><i
                                  class="rsicon rsicon-instagram"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="section-txt-btn">
      <p><a class="btn btn-lg btn-border ripple" target="_blank" [href]="freeDescription?.buttonUrl">{{ freeDescription?.buttonText }}</a></p>

      <p [innerHTML]="freeDescription?.text"></p>
    </div>
  </div>
</section>
<!-- #about -->
