<section id="education" class="section section-education">
  <div class="animate-up">
    <h2 class="section-title">{{ educationData?.title }}</h2>

    <div class="timeline">
      <div class="timeline-bar"></div>
      <div class="timeline-inner clearfix">

        <div
          class="timeline-box timeline-box-compact"
          [class.timeline-box-left]="(idx % 2 === 0)"
          [class.timeline-box-right]="(idx % 2 !== 0)"
          *ngFor="let course of educationData?.courses; let idx = index"
        >
          <span class="dot"></span>

          <div
            class="timeline-box-inner"
            [class.animate-right]="(idx % 2 === 0)"
            [class.animate-left]="(idx % 2 !== 0)"
          >
            <span class="arrow"></span>

            <div class="date"><span>{{ course.period }}</span></div>
            <h3>{{ course.course }}</h3>
            <h4>{{ course.institute }}</h4>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- #education -->
